*{
  margin:0;
  padding:0;
}
body{
  margin:0;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.6;
}
/*Navigation*/
.nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
  background: #f6f6f6;
  text-align: center;
}
.nav li {
	display: inline-block;
	padding: 24px 10px;
}
.nav li a {
	color: #757575;
  text-decoration: none;
	text-transform: uppercase;
}
.active {
  border-bottom: 4px solid #fb8805;
  padding: 0 0 5px 0;
}
.nav a: hover{
  border-bottom: 4px solid #fb8805;
  padding: 0 0 5px 0;
}

#showcase{
  background-image: url('img/image.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  color: #fff;
}
#showcase h1{
    font-size: 50px;
    line-height: 1.2;
    text-shadow: 2px 1px 1px black;
}
#showcase p{
  font-size: 20px;
  text-shadow: 2px 1px 1px black;
}
#showcase .button{
  font-size: 18px;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-top: 50px;
  padding: 10px 20px;
  color: #fff;
  font-weight: bolder;
}
#showcase .button:hover{
  background: #31c49e;
  color: #fff;
}
#section-a, #section-b, #section-c{
  padding: 20px;
  text-align: center;
}
#section-a h2, #section-b h2{
  margin: 10px;
  font-weight: normal;
}
.wrapper {
  height: 600px;
  width: 100%;
}
#hotel1, #hotel2, #hotel3, #hotel4, #hotel5, #hotel6{
  width:28%;
  height: 50%;
  background-color: white;
  margin: 2%;
  padding: 0.5%;
  float: left;
}
img{
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
}
img:hover{
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0.20, 0.30);
}
/*star rating*/
.star-ratings {
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}
.top {
  color:  orange;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.bottom {
  padding: 0;
  display: block;
  z-index: 0;
}
.button{
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #31c49e;
  border-radius: 10px;
  padding: 10px 15px;
  color: #31c49e;
}
.button:hover{
  background: #31c49e;
  color: #fff;
}
#hotelinfo1, #hotelinfo2, #hotelinfo3, #hotelinfo4,
#hotelinfo5,#hotelinfo6{
  margin-top: 0.5em;
  height: auto;
  color: black;
  padding: 1em;
}
/*load event*/
#note{
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  height: 100vh;
  position: absolute;
  top:0;
}
#close{
  text-decoration: none;
  float: right;
  margin: 0;
  color: grey;
  font-size: 1em;
}
#msgNote{
  background-color: white;
  width:30%;
  padding: 0.2em;
  margin: auto;
  margin-top: 5em;
  text-align: center;
  border-radius: 5px;
}
#msgNote h3{
  font-size: 18px;
}
#msgNote p{
  font-size: 15px;
}
#AdPic{
  height: 250px;
}
#code {
  width: 100%;
  height: 65px;
  font-weight: bolder;
  background-color: grey;
  color: white;
}
/*scroll*/
#code .button{
  padding: 5px 10px;
}
#goUp{
  width: 50px;
  height: 50px;
  background-image: url(img/arrow.png);
  background-size: contain;
  position: fixed;
  right: 15px;
  bottom: 30px;
  border-radius: 100%;
}
/*Booking page*/
#reservation {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.modal_content{
  background-color: #fefefe;
  margin: 15% auto;
  padding: 15px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 5px;
}
.modal_close{
  float: right;
  color: grey;
  font-size: 30px;
}
/*booking content*/
.booking_content{
  margin: 10px;
}
.guestNum li{
  list-style-type: none;
  float: left;
  width: 70px;
  height: 70px;
  margin: 10px;
  margin-right: 5em;
}
input {
  width: 20%;
  height:1.5em;
  margin: 0.5em;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
}
.discountCode{
  margin: 20px;
}
#book {
  margin-left: 30%;
}
/*section-b*/
#section-b {
  background-color: #f6f6f6;
}
#section-b h2{
  margin:5%;
}
#section-b li {
  text-align: left;
  list-style-position: inside;
}
.column {
  position: relative;
  float: left;
  width: 45%;
  height: inherit;
  margin: 0 2.5%;
}
.inside-column li{
  float: left;
  position: relative;
  width: 45%;
  margin: 0 1%;
}
.map-wrapper {
  height: 450px;
  background-color: grey;
  border-radius: 2%;
}
#map{
  height: 100%;
  width: 100%;
}
.services{
  float: left;
  width: 44%;
  height: 150px;
  margin: 0 1%;
  position: relative;
  margin-top: 10px;
}
.services img{
  filter: brightness(60%);
}
.service:after{
  position: absolute;
  display: block;
  left: 0;
  top:0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.caption-text {
  position: absolute;
  display: block;
  z-index: 2;
  width: 100%;
  padding: 1em;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.column ul{
  list-style: none;
  line-height: 2em;
}
.column li:before{
  content: '✓';
  margin-right: 1em;
}
/*section-c*/
#section-c{
  height: 60vh;
  font-size: 15px;
  background-image: url('img/image2.jpg');
  color: #fff;
}
.box{
  padding: 10px;
  width: 21%;
  float: left;
  margin: 0 1%;
  z-index: 1;
  cursor: pointer;
  margin-top: 20px;
}
.content i, p {
  float: left;
}
.content i{
  font-size: 2em;
}
/*email form*/
.input-group {
  width: 100%;
}
input.btn.btn-lg {
  width: 50%;
  height: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 12px;
}
button.btn {
  width: 20%;
  height: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #F0CE7D;
  margin:0;
  margin-top: 10px;
}
button.btn .fa{
  font-size: 1.5em;
  color: #fff;
  margin-left: 30%;
}
/*icon*/
.list-inline li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}
.social-icons .fa{
	width: 50px;
	height: 50px;
	line-height: 50px;
  border-radius: 50%;
	text-align: center;
  font-size: 2em;
	color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 3px #333;
}
.social-icons .fa:hover{
  color: #F0CE7D;
}
footer{
  margin: 0 1%;
  text-align: left;
  font-weight: lighter;
}
